Package: com.elor7824.adinkralockglyph
Name: Adinkra Heart Lockglyph
Version: 1.0.1
Architecture: iphoneos-arm
Description: A lockglyph theme for the Adinkra African symbol, as requested by /u/ioskiid
Maintainer: Elias Ortiz <elias.ortiz@colorado.edu>
Author: Elias Ortiz <elias.ortiz@colorado.edu>
Section: Themes (Lockglyph)
Depiction:
Depends: com.evilgoldfish.lockglyph
