Package: com.elor7824.sankofalockglyph
Name: Sankofa Bird Lockglyph
Version: 1.0.1
Architecture: iphoneos-arm
Description: A lockglyph theme for the Sankofa African symbol, as requested by /u/ioskiid
Maintainer: Elias Ortiz <elias.ortiz@colorado.edu>
Author: Elias Ortiz <elias.ortiz@colorado.edu>
Section: Themes (Lockglyph)
Depiction: http://elor7824.github.io/depictions/com.elor7824.sankofalockglyph/index.html
Depends: com.evilgoldfish.lockglyph
