Package: com.elor7824.albrechtlockglyph
Name: Albrecht praying hands Lockglyph
Version: 1.0
Architecture: iphoneos-arm
Description: A lockglyph theme featuring the Albrecht praying hands, as requested by /u/VirtualBruiser
Maintainer: Elias Ortiz <elias.ortiz@colorado.edu>
Author: Elias Ortiz <elias.ortiz@colorado.edu>
Section: Themes (Lockglyph)
Depiction: http://elor7824.github.io/depictions/index.html?p=com.elor7824.albrechtlockglyph
Depends: com.evilgoldfish.lockglyph
