Package: com.elor7824.southbrisbanefutsal
Name: South Brisbane Lockglyph
Version: 1.0
Architecture: iphoneos-arm
Description: A lockglyph theme featuring the South Brisbane Futsal logo, as requested by /u/Terrenc3Peterson
Maintainer: Elias Ortiz <elias.ortiz@colorado.edu>
Author: Elias Ortiz <elias.ortiz@colorado.edu>
Section: Themes (Lockglyph)
