Package: com.elor7824.dblockglyph
Name: Dragonball Lockglyph
Version: 1.0
Architecture: iphoneos-arm
Description: A lockglyph theme for the 7 star Dragonball, as requested by /u/xJordyy.
Maintainer: Elias Ortiz <elias.ortiz@colorado.edu>
Author: Elias Ortiz <elias.ortiz@colorado.edu>
Section: Themes (Lockglyph)
Depiction: http://elor7824.github.io/depictions/com.elor7824.dblockglyph/index.html
Depends: com.evilgoldfish.lockglyph
