Package: com.elor7824.ltsj6modd
Name: LT SJ6MODD
Version: 1.0.1
Architecture: iphoneos-arm
Description: A very cool LockHTML4 lockscreen theme
Maintainer: Elias Ortiz <elias.ortiz@colorado.edu>
Author: Elias Ortiz <elias.ortiz@colorado.edu>
Section: Themes (LockHTML4)
Depiction:
Depends: com.bushe.lockhtml4
