Package: com.elor7824.asulockglyph
Name: ASU Lockglyph
Version: 1.0
Architecture: iphoneos-arm
Description: A lockglyph theme featuring the Arizona State logo, as requested by /u/KingJordo
Maintainer: Elias Ortiz <elias.ortiz@colorado.edu>
Author: Elias Ortiz <elias.ortiz@colorado.edu>
Section: Themes (Lockglyph)
