Package: com.elor7824.pokemonlockglyphs
Name: Pokemon Lockglyphs
Version: 1.0.2
Architecture: iphoneos-arm
Description: A lockglyph theme featuring the three original starter pokemon
Maintainer: Elias Ortiz <elias.ortiz@colorado.edu>
Author: Elias Ortiz <elias.ortiz@colorado.edu>
Section: Themes (Lockglyph)
Depiction: http://elor7824.github.io/depictions/index.html?p=com.elor7824.pokemonlockglyphs
Depends: com.evilgoldfish.lockglyph
