body{

	margin: 0;

	padding: 0;

	font-weight:100;

	color:white;
 
	font-family: lite;

}


@font-face {
	font-family: Bold1;
	src: url(Images/Bold1.ttf);
}


@font-face {
	font-family: Bold;
	src: url(Images/Bold.ttf);
}

@font-face {
	font-family: lite;
	src: url(Images/lite.ttf);
}


#hour{
	position:absolute; top:70px; left:4px; width:320px; height:150px; text-align:center; z-index:400;
	font-size:30px;
	font-family: Bold;
	text-transform:capitalize;
	-webkit-transform:rotate(-7deg);
}
#minute{
	position:absolute; top:102px; left:0px; width:320px; height:150px; text-align:center; z-index:400;
	font-size:18px;
	text-transform:uppercase;
	font-family: Bold1;
	font-weight:700;
}


#Calendar{
	position:absolute; top:128.2px; left:0px; width:320px; height:150px; text-align:center; z-index:400;
	font-size:10px;
	color:#000;
	font-family:lite;
	text-transform:uppercase;
       
}
#Weather{
	position:absolute; top:553px; left:0px; width:320px; height:150px; text-align:center; z-index:400;
	font-size:8px;
	letter-spacing:0.2em;
	font-family:lite;
	text-transform:uppercase;
	
}



#l{
	position:absolute; top:126.4px; left:140px; width:40px; height:14px; z-index:100;
	background-color: #fff;
	opacity: 1;border-radius:2px;

}











 
