Package: com.elor7824.esozeppelin
Name: ESO Zeppelin
Version: 1.0
Architecture: iphoneos-arm
Description: A Zeppelin logo for the Elder Scrolls Online fan.
Maintainer: Elias Ortiz <elias.ortiz@colorado.edu>
Author: Elias Ortiz <elias.ortiz@colorado.edu>
Section: Themes (Zeppelin)
Depiction: http://elor7824.github.io/depictions/com.elor7824.esozeppelin/index.html
Depends: com.alexzielenski.zeppelin
