Package: com.elor7824.chicagobhlockglyphs
Name: Chicago Blackhawks Lockglyphs
Version: 1.0
Architecture: iphoneos-arm
Description: A set of lockglyph themes featuring the Chicago Blackhawks, as requested by Pat R.
Maintainer: Elias Ortiz <elias.ortiz@colorado.edu>
Author: Elias Ortiz <elias.ortiz@colorado.edu>
Section: Themes (Lockglyph)
Depiction: http://elor7824.github.io/depictions/com.elor7824.chicagobhlockglyphs/index.html
Depends: com.evilgoldfish.lockglyph
