Package: com.elor7824.shieldlockglyphs
Name: S.H.I.E.L.D Lockglyphs
Version: 1.0
Architecture: iphoneos-arm
Description: A lockglyph theme that features a S.H.I.E.L.D symbol as well as a Mjolnir symbol, as requested by /u/furmat60
Maintainer: Elias Ortiz <elias.ortiz@colorado.edu>
Author: Elias Ortiz <elias.ortiz@colorado.edu>
Section: Themes (Lockglyph)
Depiction:
Depends: com.evilgoldfish.lockglyph
