Package: com.elor7824.noxtheme
Name: Nox
Version: 1.1
Architecture: iphoneos-arm
Description: My very first theme! Nox is a dark theme for iPhone and iPhone 6+! See bellow for screenshots. Special thank you to all the people at /r/iOSthemes for all the support and advice that I have recieved! I will be adding more icons soon!
Maintainer: Elias Ortiz <elias.ortiz@colorado.edu>
Author: Elias Ortiz <elias.ortiz@colorado.edu>
Section: Themes (Winterboard)
Depiction: http://elor7824.github.io/depictions/com.elor7824.noxtheme/index.html
Depends: winterboard
